    <!-- Call to action -->
    <section class="call-to-action" style="background-image: url(/istiocon-2021/images/hero-background2.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <h2>Share your knowledge with the Istio community, submit a proposal: </h2>
                <div class="btn-box">
                    <a href="https://sessionize.com/istiocon-2021/" class="theme-btn btn-style-one"><span class="btn-title">Go to CFP</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call to action -->
