{{ $data := index .Site.Data }}

{{ with $data.homepage.sponsor }}

 <!--Clients Section-->
 <section class="clients-section-three" style="background-image: url(images/background/9.jpg);">
 <div class="page-wrapper">
  <div class="auto-container">
      <div class="sec-title text-center">
          <h2>Partners:</h2>
            
          <span class="title"></span>
      </div>
  <!--
      <div class="sponsors-outer">
       
          {{ range .sponsor_group }}
          <div class="sponsors">
           
              <div class="row row-cols-1 row-cols-md-3">
              {{ range .sponsor }}
              {{ if and (ne .link "") (ne .link "#") }}
             
                <div class="col mb-4">
                  <figure class="image-box"><a href="{{ .link }}" target="_blank"><img src="{{ .logo | relURL }}" alt="" width="280"></a></figure>
                </div>
                  {{ else }}
                  <div class="col mb-4">
                    <img src="{{ .logo | relURL }}" alt="" class="img-fluid">
                  </div>
                  {{ end }}
              
             {{ end }}
            </div>
          </div>
        {{ end }}
    </div>
   -->


   <div class="auto-container">
    {{ range .sponsor_group }}
    <div class="row row-cols-1 row-cols-md-5">
      {{ range .sponsor }}
     
      <div class="col mb-4" style="text-align: center;">
        <div class="card" style="border: none;">
         <a href="{{ .link }}"><img src="{{ .logo }}" class="image-box" width="180" alt="..."></a> 
          <div class="card-body">
            <h1>&nbsp&nbsp&nbsp&nbsp</h1>
          </div>
        </div>
      </div>
      {{ end }}
     
    </div>
  
    {{ end }}
  </div>

  </div>
</div>
</section>
<!--End Clients Section-->




{{ end }}



