
//fonts

$base-font                : 'Work Sans', 'Open Sans', Helvetica, Arial, sans-serif;
$heading-font             : 'Work Sans', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size           : 17px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #444444;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color: #466bb0;
$secondary-color: #000a54;
$orange:#ff6200;
$yellow:#ffd200;
$yellow2: #ff4020;