    <!-- Call to action -->
    <section class="call-to-action" style="background-image: url(/istiocon-2021/images/hero-background2.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <h2>Do not miss the opportunity to participate at the first Istio conference.</h2>
                <div class="btn-box">
                    <a href="https://www.crowdcast.io/e/istiocon-2021" target="_blank" class="theme-btn btn-style-one"><span class="btn-title">Save your spot!</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call to action -->
