<div class="page-wrapper">
  <div class="auto-container">
<div class="sec-title text-center mt-4">
  <h2>What out participants say...</h2>
</div>
<style>
  .fa-star{
    color: rgb(238, 235, 65);
  }
</style>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body" style="margin: auto; text-align: center;">
        <i class="card-text">“It was an amazing event in every way! From the speakers and presentations, to the hosts, community, activities, gifts, online gathering platform, and even the amazing artists for the caricatures! Great job!”</i> 
        <br><br>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>

      
    
    </div>
    
  </div>
  
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body" style="margin: auto; text-align: center;">
        <i class="card-text">"Amazing experience, I learned a lot at this conference and I was able to communicate with people to understand how Istio service works and how it will be effective"</i>
        <br><br>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>

   
    </div>
  </div>
 
</div>



</div>
</div>
