{{ define "main" }}

 <!-- FAQ's Section -->
 <section class="faq-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <span class="title">FAQ'S</span>
            <h2> {{ .Title }}</h2>
        </div>
        {{ range .Data.Pages.ByTitle }}
        <div class="row clearfix">
            
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    
                    <!--Accordian Box-->
                    <ul class="accordion-box">
                        <!--Block-->
                        {{ with .Params.title }}
                        <li class="accordion block wow fadeInUp">
                           <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> </div>{{ . }}</div>
                           {{ end }}
                           <div class="acc-content">
                               <div class="content">
                                   <div class="text">{{ .Params.Description }}</a> 
                                   </div>
                              </div>
                           </div>
                       </li>
                   </ul>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!--Accordian Box-->
                    <ul class="accordion-box">
                         <!--Block-->
                         {{ with .Params.title1 }}
                         <li class="accordion block wow fadeInUp">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> </div>{{ . }}</div>
                            {{ end }}
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">{{ .Params.Description1 }}</a> 
                                    </div>
                               </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        {{ end }}
    </div>
</section>
<!-- End FAQ's Section -->

{{ end }}