{{ define "main" }}


<!-- News Section -->
<section class="news-section">
    <div class="anim-icons">
    </div>

    <div class="auto-container">
     
        <div class="row">
            {{ range .Data.Pages.ByTitle }}

            <!-- News Block Three -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href=""><img src="{{ .Params.Image | relURL }}" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="#">{{ .Title }}</a></h4>
                        <p>{{ .Params.Description}}</p>
                        <div class="btn-box"><a href="{{ .Params.Link }}" class="read-more">{{ .Params.Button }}</a></div>
                    </div>
                </div>
            </div>

            {{ end }}
        </div>
    </div>
</section>
<!--End News Section -->

{{ end }}