{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- News Section -->
<section class="news-section">
    <div class="anim-icons">
    </div>

    <div class="auto-container">
     
        <div class="row">
            {{ range .Data.Pages.ByWeight }}

            <!-- News Block Three -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight">
                <div class="inner-box h-100">
                    <div class="image-box ">
                        <figure class="image"><a href="{{ .Params.Link }}" target="blank"><img src="{{ .Params.Image | relURL }}" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="{{ .Params.Link }}" target="blank">{{ .Title }}</a></h4>
                        <p>{{ .Content }}</p>
                        
                    </div>
                </div>
            </div>

            {{ end }}
        </div>
    </div>
</section>
<!--End News Section -->

{{ end }}